.hero-slider {
    display: block;
    overflow: hidden;
}
.hero-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 50;
}
.hero-overlay {
    overflow: hidden;
    padding: 10px 0;
    height: 30px;
    text-align: center;
}
.hero-overlay input {
    display: none;
}
.hero-overlay label {
    display: inline-block;
    margin: 0 3px;
    height: 10px;
    width: 20px;
    background-color: #fff;
}
.hero-overlay label:hover {
    background-color: #c2c2c2;
}
.hero-overlay input:checked + label {
    background-color: #a9a9a9;
}
.hero-slide {
    display: block;
    float: left;
    background-position: center;
    background-size: cover;
    background-color: #ffffff;
}
.hero-slide h3 {
    font-size: 4em;
    text-align: center;
}
.hero-slide p {
    font-size: 2em;
    text-align: center;
}