h1, h3, p, input, textarea, div {
    font-family: 'Open Sans', sans-serif;
}
.new-feature {
    position: absolute;
    left: 50px;
    color: #ff010f;
}
/* SLIDER *************************************************************************************************************/
.hero-slide h3, .hero-slide p {
    color: #fff;
    text-transform: uppercase;
}
.hero-slide h3 {
    display: inline-block;
    margin-bottom: 0;
    padding: 5px 20px;
    font-size: 3em;
    border: 8px solid #fff;
}
.hero-slide p {
    margin-top: 10px;
    font-size: 1.3em;
    font-weight: 600;
}
/* SECTIONS ***********************************************************************************************************/
.section-title {
    padding: 60px 0 10px;
    color: #c2c2c2;
    text-transform: uppercase;
}
.section {
    margin: 0 auto;
}
/* ABOUT **************************************************************************************************************/
.about-section {
    padding: 0 5%;
    max-width: 680px;
    width: 90%;
    text-align: center;
}
.about-section img {
    padding-bottom: 20px;
    border-radius: 50%;
}
.my-skills {
    margin: 50px auto 0;
    overflow: hidden;
}
.skill-lockup {
    float: left;
    padding: 2px 2.5%;
    width: 45%;
}
.skill-label {
    display: block;
    float: left;
}
.skill-units {
    display: block;
    text-align: right;
}
.skill-units span {
    display: inline-block;
    margin: 0 2px;
    height: 15px;
    width: 15px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
}
.skill-lockup .skill-1 span:nth-child(-n+1), .skill-lockup .skill-2 span:nth-child(-n+2),
.skill-lockup .skill-3 span:nth-child(-n+3), .skill-lockup .skill-4 span:nth-child(-n+4),
.skill-lockup .skill-5 span:nth-child(-n+5) {
    border: 2px solid #FE9A2E;
}
/* CONTACT ************************************************************************************************************/
.contact-section {
    margin-top: 50px;
    background-color: #636363;
}
#form-email, #form-topic, #form-message{
    padding: 8px 20px;
    max-width: 500px;
    width: 90%;
}
.contact-section form {
    margin: 0 auto;
    padding: 30px 5%;
    max-width: 680px;
    width: 90%;
    text-align: center;
}
#form-email, #form-topic{
    display: block;
    margin: 0 auto 5px;
    border: none;
}
#form-message {
    display: block;
    margin: 0 auto;
    min-height: 100px;
    width: 90%;
    resize: vertical;
    border: none;
}
#form-submit {
    margin-top: 5px;
    padding: 10px 30px;
    background-color: #FE9A2E;
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    border: none;
}






@media screen and (max-width: 650px) {
    .hero-slide h3 {
        font-size: 1.5em;
        border: 4px solid #fff;
    }
    .hero-slide p {
        margin-top: 10px;
        font-size: 0.8em;
        font-weight: 600;
    }
    .skill-label, .skill-lockup, .skill-units {
        float: none;
    }
    .skill-lockup {
        margin: 0 auto;
        padding: 10px 0;
        width: 125px;
    }
    .skill-units {
        padding-top: 4px;
    }
}